* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bgc_section {
    background-color: white;
    color: black;
    height: 500px;
    padding: 50px;
    width: 1200px;

    .headlines_div {
        width: 920px;
    }
    .headlines_div h2 {
        color: green;
        font-size: 28px;
        margin-left: 180px
    }
    .headlines_div h1 {
        font-size: 48px;
        margin-left: 180px;
        margin-bottom: 60px;
    }

    .texts_div {
        display: flex;
        
        p {
            margin-bottom: 30px;
        }
    }
}